# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/bondlib/.vs/bondlib
/bondlib/x64/Debug
/bondlib/build
/bondxll/x64/Debug
/xlcall32/x64/Debug
/bondlib/.tmx_bond.h.swp
/bondlib/tmp
/bondlib/x64/Release
/bondxll/x64/Release
/setup/Debug
/setup/Release
/bondlib/UpgradeLog.htm
/bondlib/.fms_iterable.h.swp
/bondxll/.vs/bondxll
/bondlib/bondlib/x64/Debug
